@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, aqua, blueviolet);
    }

    main {
        width: 80vw;
    }

    div#formulario {
        margin: 146px 1px 1px 168px;
        width: 40vw;
        border-radius: 10px 10px 10px 10px;   
    }

    form {
        margin: auto;
    }

    input#submit {margin: auto;
        margin-top: 10px;
        
    }

    input#rec {
        margin: auto;
        margin-top: 10px;
    }

    p {
        text-align: center;
    }

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, aqua, blueviolet);
        height: 100vh;
    }

    main {
        width: 90vw;
        height: 331px;
        background-position: center;
    }

    .t1 { 
        font-weight: 600;
    }


    div#formulario {
        width: 40vw;
        height: 313px;
        margin: -2px 0px 0px 0px;
        background-color: rgba(255, 255, 255, 0.945);
        border-radius: 10px 0px 0px 10px;
    }

    .caixat {
        width: 272px;
    }

    input#submit {margin: auto;
        margin-top: 10px;
        width: 316px;     
        
    }

    input#rec {
        margin: auto;
        margin-top: 10px;
        width: 316px;
    }

    p {
        text-align: center;
    }

}

